@font-face {
    font-family: "Monitta";
    src: url(../assets/fonts/Monitta.otf);
  }
  .navbar{
    background-color: #8e40bb;
    font-size: 1.2em;
    font-weight: 700;
  }
  .nav-link {
    color: #FFD3EC;
  }
  body {
    background-color: #ffebf6;
  }
  .datosextras, footer {
    background-color: #dda3ff;
  }
  .prods div img, .historia img {
    box-shadow: 0 0 15px 7px white;
  }